form{
    margin-top: 20px;
    margin-left: 20px;
}
label{
    // text-align: right;
    width: 130px;
    // display: inline-block;
}
.add{
    margin-left: 20px;
   
}
.sub{
    width: 20%;
    // margin-left: 20%;
    height: 50px;
    border-radius: 5px;
    background-color: green;
}