<div  class="design" style="font-size: 20px;">
    <label >User Name</label>
    <input type="text" name="" id="" [(ngModel)]="namee">
    <br><br>
    <label for="">Password</label>
    <input type="password"  [(ngModel)]="pass">
    <br><br>
    <button (click)="showToasterSuccess()" class="btn btn-success login" >
      Login
    </button>
</div>
<!-- <b>{{name | titlecase}}</b>
<hr>
<b>{{ money | currency:'USD':'symbol' }}</b>
<hr>
<b>{{valueDate | date: 'dd/MM/yyyy'}}</b>
<b>{{valueDate | date:'shortTime'}}</b>
<hr>
<b>{{00.54565 | percent}}</b>
<hr>
<b>{{months | slice:2:6}}</b>
<hr>
<b>{{name | uppercase}}</b>
<hr>
<b>{{name | lowercase}}</b>
<hr>

<b>{{ jsonval | json }}</b> -->

