<router-outlet></router-outlet>
<!-- <table>

    <tr>
        <th>Name </th>
        <th>Started In</th>
        <th>No. of Students</th>
        <th>No. of Staff</th>
    </tr>
    <tr *ngFor="let item of array">
        <td>{{item.name}}</td>
        <td>{{item.startedIn}}</td>
        <td>{{item.NoOfStudents}}</td>
        <td>{{item.NoOfStaff}}</td>
    </tr>
</table>

<p>Departmemts in Vemana Collage</p>
<div *ngFor ="let item of coll">
    <p>{{item.Branch}}</p> 
</div>
<hr>
<p>Oxford Collage specilization</p>
<div *ngFor = "let item of popular">
<p>{{item.specilization}}</p>
</div> -->
