<form [formGroup]="form" style="font-size: 15px;" >
    <label for=""> First Name</label>
    <input type="text" formControlName="first_name">
    <p class="error" *ngIf="FirstName.touched && FirstName.invalid">Please Enter Valid name</p>
    <br><br>
    <label for=""> Last Name</label>
    <input type="text" formControlName="last_name">
    <p class="error" *ngIf="LastName.touched && LastName.invalid">Please Enter Valid name</p>
    <br><br>
    <label for=""> User Name</label>
    <input type="text" formControlName="user_name" [(ngModel)]="Search">
    <p class="error" *ngIf="UserName.touched && UserName.invalid">Please Enter Valid name</p>
    <br><br>
    <label for=""> Password</label>
    <input type="password" formControlName="password">
    <p class="error" *ngIf="Password.touched && Password.invalid">Please Enter Valid Password</p>
    <br><br>
    
    <label for="">Choose Gender</label>
    <label >
        <input type="radio" value="Male" formControlName="gender">
          <span>male</span>
      </label>
      <label>
        <input type="radio" value="Female" formControlName="gender">
          <span>female</span>
      </label>
   <br><br>
    <button type="submit" class="btn btn-primary submit" (click)="submit()">Register</button>
    <button type="reset" class="btn btn-primary submit" >Clear </button>
   

</form>

